PORT=5000
MONGO_URI=mongodb://admin:hola@ac-3i9yuem-shard-00-00.pnr9eyj.mongodb.net:27017,ac-3i9yuem-shard-00-01.pnr9eyj.mongodb.net:27017,ac-3i9yuem-shard-00-02.pnr9eyj.mongodb.net:27017/tours_db?ssl=true&replicaSet=atlas-12fnnd-shard-0&authSource=admin&appName=Cluster0